<p style="color: green"><%= notice %></p>

<%= render 'profiles/profile', user: @user %>

<div>
  <% if current_user.role == "admin" %>
    <%= button_to "Edit User", edit_profile_path(@user), method: :get %> 
    <p></p>
    <%= button_to "All Users", profiles_path, method: :get %>
    <p></p>
    <%= button_to "Delete User", profile_path(@user), method: :delete %>
  <% elsif current_user.role == "manager" %>
    <%= button_to "Edit User", edit_profile_path(@user), method: :get %> 
    <p></p>
    <%= button_to "All Users", profiles_path, method: :get %>
    <p></p>
    <%= button_to "Delete User", profile_path(@user), method: :delete %>
  <% elsif current_user.role == "staff" %>
    <%= link_to "Users", profiles_path %>
  <% end %>
</div>
