<!--/workspaces/Inventory-Management-System/app/views/search/index.html.erb-->
<% puts  @results.inspect  %>
<% if @users.empty? && @categories.empty? && @subcategories.empty? && @orders.empty? && @products.empty? && @suppliers.empty?
 %>
  <div class="alert alert-info" role="alert" style="margin-top: 100px; font-family: Philosopher; font-size: 50px; text-align:center" >
    No results found...
  </div>

<% else %>
  <% if @users.any? %>
    <%= render partial: 'users_search' %>
  <% end %>
  <% if @categories.any? %>
    <%= render partial: 'categories_search' %>
  <% end %>
  <% if @subcategories.any? %>
    <%= render partial: 'subcategories_search' %>
  <% end %>
  <% if @orders.any? %>
    <%= render partial: 'orders_search' %>
  <% end %>
  <% if @products.any? %>
    <%= render partial: 'products_search' %>
  <% end %>
  <% if @suppliers.any? %>
    <%= render partial: 'suppliers_search' %>
  <% end  %>
<% end %>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dataTable = document.querySelectorAll(".datatable-bordered tbody");

    dataTable.forEach(function (table) {
      table.addEventListener("click", function (event) {
        var targetRow = event.target.closest("tr[data-href]");

        if (targetRow) {
          window.location.href = targetRow.dataset.href;
        }
      });
    });
  });
</script>
