<%= form_with(model: user, url: user.persisted? ? user_path(user) : users_path, method: user.persisted? ? :patch : :post) do |form| %>  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, required: true %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, required: true %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, required: true %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, accept: 'image/*' %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.collection_select :role, User::ROLES, :to_s, :humanize, include_blank: true %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.text_field :bio, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
