<div id="<%= dom_id user %>">

  <p>
    <strong>Name:</strong>
    <%= user.first_name + " " + user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <% if @user.image.attached? %>
      <strong>Image:</strong>
      <p>
        <%= image_tag @user.image, style: "max-width: 500px;" %>
      </p>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role.capitalize %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

</div>
