<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="admins">
  <% @users.admins.each do |user| %>
    <%= user.first_name %> (Admin)
    <p>
      <%= link_to "Show this user", user %>
    </p>
    <hr>
  <% end %>
</div>

<div id="managers">
  <% @users.managers.each do |user| %>
    <%= user.first_name %> (Manager)
    <p>
      <%= link_to "Show this user", user %>
    </p>
    <hr>
  <% end %>
</div>

<div id="staff">
  <% @users.staff.each do |user| %>
    <%= user.first_name %> (Staff)
    <p>
      <%= link_to "Show this user", user %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
