<!--/workspaces/Inventory-Management-System/app/views/users/index.html.erb-->
<p>
<div class="header">
  <h1>Users</h1>
<% if current_user.role == "admin" %>
  <div class="container text-right">
    <div class="row">
      <div id="create_user" class="col">
        <h1><%= link_to "New User", new_user_path %></h1>
      </div>
    </div>
  </div>
<% elsif current_user.role == "manager" %>
  <div class="container text-right">
    <div class="row">
      <div id="create_user" class="col">
        <h1><%= link_to "New User", new_user_path %></h1>
      </div>
    </div>
  </div>
<% end %>
</div>
<hr>
<div class="row">
  <div id="admins" class="col">
    <h2>Admin</h2>
    <% @users.admins.sort_by(&:first_name).each do |user| %>
      <p>
        <h5><%= link_to user.first_name, user_path(user) %></h5>
      </p>
    <% end %>
  </div>
  <div id="managers" class="col">
    <h2>Manager</h2>
    <% @users.managers.sort_by(&:first_name).each do |user| %>
      <p>
        <h5><%= link_to user.first_name, user_path(user) %></h5>
      </p>
    <% end %>
  </div>
  <div id="staff" class="col">
    <h2>Staff</h2>
    <% @users.staff.sort_by(&:first_name).each do |user| %>
      <p>
      <h5><%= link_to user.first_name, user_path(user) %></h5>
      </p>
    <% end %>
  </div>
</div>
