<!--/workspaces/Inventory-Management-System/app/views/users/show.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/users/show.html.erb-->


<%= render 'users', user: @user %>

<div>
  <% if current_user.role == "admin" %>
    <%= button_to "Edit User", edit_user_path, method: :get %> 
    <p></p>
    <%= button_to "All Users", users_path, method: :get %>
    <p></p>
    <%= button_to "Delete User", user_path, method: :delete %>
  <% elsif current_user.role == "manager" %>
    <%= button_to "Edit User", edit_user_path, method: :get %> 
    <p></p>
    <%= button_to "All Users", users_path, method: :get %>
    <p></p>
    <%= button_to "Delete User", user_path, method: :delete %>
  <% elsif current_user.role == "staff" %>
    <%= button_to "All Users", users_path, method: :get %>
  <% end %>
</div>
<p>
