<!--/workspaces/Inventory-Management-System/app/views/orders/_form.html.erb-->
<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expected_delivery, style: "display: block" %>
    <%= form.date_field :expected_delivery %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ['Processing', 'In Transit', 'Delivered'] %>
  </div>

  <div>
    <%= form.label :sending_address, style: "display: block" %>
    <% if order.new_record? %>
      <%= form.collection_select :sending_address, StorageLocation.all, :address, :address %>
    <% else %>
      <%= form.text_field :sending_address %>
    <% end %>
  </div>

  <div>
    <%= form.label :receiving_address, style: "display: block" %>
    <%= form.text_field :receiving_address %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <p>
    <div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-regular text-black">Full Inventory</h6>
        </div>
        <div class="card-body">
          <%= form.label :products, style: "display: block" %>
          <div class="table-responsive">
            <table class="table datatable-bordered" id="productTable" width="100%" cellspacing="0">
              <thead class="datatable-header">
                <tr>
                  <th>Select</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>SKU</th>
                  <th>Price</th>
                  <th>Units</th>
                  <th>Category</th>
                  <th>Subcategory</th>
                  <th>Supplier</th>
                </tr>
              </thead>
              <tbody>
                <% Product.all.each do |product| %>
                  <tr>
                    <td><%= form.check_box :product_ids, { multiple: true }, product.id, nil %></td>
                    <td><%= product.id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.sku %></td>
                    <td>$<%= number_with_precision(product.price, precision: 2) %></td>
                    <td><%= product.stock_quantity %></td>
                    <td><%= product.category.name %></td>
                    <td><%= product.subcategory.name %></td>
                    <td><%= product.supplier.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

  <script>
    $(document).ready(function () {
      var table = $('#productTable').DataTable({
        paging: true,
        ordering: true,
        selectable: true,
        fixedheader: true
      });
    });
  </script>
