<!--/workspaces/Inventory-Management-System/app/views/orders/_form.html.erb-->
<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expected_delivery, style: "display: block" %>
    <%= form.datetime_field :expected_delivery %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ['Processing', 'In Transit', 'Delivered'] %>
  </div>

  <div>
    <%= form.label :sending_address, style: "display: block" %>
    <% if order.new_record? %>
      <%= form.collection_select :sending_address, StorageLocation.all, :address, :address %>
    <% else %>
      <%= form.text_field :sending_address %>
    <% end %>
  </div>

  <div>
    <%= form.label :receiving_address, style: "display: block" %>
    <%= form.text_field :receiving_address %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

<div>
  <%= form.label :products, style: "display: block" %>
  <%= form.collection_select :products, Product.all, :id, :name, { prompt: nil }, multiple: true %>
</div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
