<!--/workspaces/Inventory-Management-System/app/views/orders/_order.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/orders/_order.html.erb-->
<div id="<%= dom_id order %>">
  <p>
    <h4>
      <%= link_to "Order ##{order.id}", order %>
    </h4>
  </p>

  <p>
    <strong>Expected delivery:</strong>
    <%= order.expected_delivery.strftime('%A, %B %e, %Y') %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status.gsub('_', ' ').titleize %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order.description %>
  </p>

  <p>
    <strong>Sending Address:</strong>
    <%= link_to order.sending_address, "https://www.google.com/maps?q=#{URI.encode_www_form_component(order.sending_address)}", target: "_blank"  %>
  </p>

  <p>
    <strong>Receiving Address:</strong>
    <%= link_to order.receiving_address, "https://www.google.com/maps?q=#{URI.encode_www_form_component(order.receiving_address)}", target: "_blank"  %>
  </p>
  <script>
    $(document).ready(function() {
      var table = $('#dataTable').DataTable({
        paging: true,
        ordering: true,
        selectable: true,
        fixedheader: true
      });
    });
  </script>
  <p>

    <!-- Add a table structure for products -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-regular text-black">Order Contents</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table datatable-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="datatable-header">
              <tr>
                <th class="sortable" data-mdb-sort="name">ID</th>
                <th class="sortable" data-mdb-sort="name">Name</th>
                <th class="sortable" data-mdb-sort="description">Description</th>
                <th class="sortable" data-mdb-sort="sku">SKU</th>
                <th class="sortable" data-mdb-sort="price">Price</th>
                <th class="sortable" data-mdb-sort="quantity">Units</th>
                <th class="sortable" data-mdb-sort="category">Category</th>
                <th class="sortable" data-mdb-sort="subcategory">Subcategory</th>
                <th class="sortable" data-mdb-sort="supplier">Supplier</th>
                <th class="sortable" data-mdb-sort="supplier">Quantity</th>
                <th class="sortable" data-mdb-sort="supplier">Shipping</th>
              </tr>
            </thead>
            <tbody>
              <% order.products.each do |product| %>
                <tr>
                  <td><%= product.id %></td>
                  <td><%= link_to product.name, product %></td>
                  <td><%= product.description %></td>
                  <td><%= product.sku %></td>
                  <td>$<%= number_with_precision(product.price, precision: 2) %></td>
                  <td><%= product.stock_quantity %></td>
                  <td><%= product.category.name %></td>
                  <td><%= product.subcategory.name %></td>
                  <td><%= link_to product.supplier.name %></td>
                  <td><%= product.order_products.find_by(order_id: order.id).quantity_ordered %></td>
                  <td>$<%= number_with_precision(product.order_products.find_by(order_id: order.id).shipping_cost, precision: 2) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
</div>
