<div id="<%= dom_id order %>">
  <p>
    <h4>
    <%= link_to "Order ##{order.id}", order %>
    </h4>
  </p>

  <p>
    <strong>Expected delivery:</strong>
    <%= order.expected_delivery.strftime('%A, %B %e, %Y') %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status.gsub('_', ' ').titleize %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order.description %>
  </p>

  <p>
    <strong>Sending Address:</strong>
    <%= order.sending_address %>
  </p>

  <p>
    <strong>Receiving Address:</strong>
    <%= order.receiving_address %>
  </p>

</div>
