<head>
  <%= stylesheet_link_tag 'dataTables_custom', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="header">
  <h1>Orders</h1>
  <div class="container text-right">
    <h1><%= link_to "New Order", new_order_path %></h1>
  </div>
</div>

 <%= render partial: 'all_orders_table' %>
 <%= render partial: 'incoming' %>
 <%= render partial: 'outgoing' %>

 