<!--/workspaces/Inventory-Management-System/app/views/inventory_transactions/_form.html.erb-->
<%= form_with(model: inventory_transaction) do |form| %>
  <% if inventory_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory_transaction.errors.count, "error") %> prohibited this inventory_transaction from being saved:</h2>

      <ul>
        <% inventory_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transaction_type, style: "display: block" %>
    <%= form.text_field :transaction_type %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <%= form.hidden_field :company_id, value: current_user.company_id %>
  <%= form.hidden_field :branch_id, value: current_user.branch_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
