<!--/workspaces/Inventory-Management-System/app/views/products/index.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/products/index.html.erb-->
<div class="header">
  <h1>Products</h1>
  <% if current_user.role == "admin" || current_user.role == "manager" %>
    <div class="container text-right">
      <div class="row">
        <div id="create_product" class="col">
          <h1><%= link_to "New Product", new_product_path %></h1>
        </div>
      </div>
    </div>
  <% end %>
</div>
<style>
  #productsTable th {
    white-space: nowrap;
    overflow-x: auto;
  }

  .card {
    max-width: 1500px; /* Adjust the max-width as needed */
    margin-left: -100px;
    margin-right: -100px;
  }

  .header {
    display: flex;
    align-items: center;
    max-width: 1900px; /* Adjust the max-width as needed */
    margin-left: -100px;
    margin-right: -140px;
  }

  h1 {
    margin: 0; /* Remove margin to make text touch the edges */
  }

  table tbody tr[data-href] {
    cursor: pointer;
  }

  .pagy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Philosopher';
    padding-top: 7px;
  }

  .pagy-info {
    flex-grow: 1;
  }
</style>


<script>
$(document).ready(function () {
  var productsTable = $('#productsTable').DataTable({
    paging: false,
    searching: true,
    ordering: true,
    fixedheader: false,
    language: {
      info: "",
      search: "_INPUT_",
      searchPlaceholder: "Search...",
    },
  });
  function changeItems(value, pagyId) {
    var table = $('#productsTable').DataTable();
    table.page.len(value).draw();
  }
});
    // Add the following script for collapsible tables
    $('.collapse-header').on('click', function () {
      var tableId = $(this).data('table-id');
      $('#' + tableId).toggleClass('show');
    });

    $('.collapse-header').hover(
      function () {
        $(this).css('cursor', 'pointer');
      },
      function () {
        $(this).css('cursor', 'auto');
      }
    );
  });
</script>

<div class="row">
  <div id="products" class="col">
    <div class="card shadow mb-4">
      <div class="card-header py-3 -header" data-toggle="" data-target="#productsTable">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="m-0 font-weight-regular text-black">Products</h6>
          <%== pagy_items_selector_js(@pagy, item_name: 'Products'.pluralize(@pagy.count)) %>
        </div>
      </div>
      <div class="card-body " id="productsTableCollapse">
        <div class="table-responsive">
          <table class="table datatable-bordered" id="productsTable" width="100%" cellspacing="0">
            <thead class="datatable-header">
              <tr>
            <th class="sortable" data-mdb-sort="name">ID</th>
            <th class="sortable" data-mdb-sort="name">Name</th>
            <th class="sortable" data-mdb-sort="description">Description</th>
            <th class="sortable" data-mdb-sort="sku">SKU</th>
            <th class="sortable" data-mdb-sort="price">Price</th>
            <th class="sortable" data-mdb-sort="quantity">Units</th>
            <th class="sortable" data-mdb-sort="category">Category</th>
            <th class="sortable" data-mdb-sort="subcategory">Subcategory</th>
            <th class="sortable" data-mdb-sort="supplier">Supplier</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= link_to product.name, product %></td>
              <td><%= product.description %></td>
              <td><%= product.sku %></td>
              <td>$<%= number_with_precision(product.price, precision: 2) %></td>
              <td><%= product.stock_quantity %></td>
              <td><%= product.category ? link_to(product.category.name, product.category) : '' %></td>
              <td><%= product.subcategory ? link_to(product.subcategory.name, product.subcategory) : '' %></td>
              <td><%= product.supplier ? link_to(product.supplier.name, product.supplier) : '' %></td>
            </tr>
          <% end %>
        </tbody>
          </table>
          <div class="pagy-container" style="display: flex; justify-content: space-between; font-family: 'Philosopher';">
            <div class="pagy-info" id="incomingable_info" role="status" aria-live="polite" style="padding-top: 7px;">
              <%== pagy_info(@pagy) %>
            </div>
            <div class="pagy-nav">
              <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var tableRows = document.querySelectorAll("table tbody tr[data-href]");
    tableRows.forEach(function (row) {
      row.addEventListener("click", function () {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>
