<!--/workspaces/Inventory-Management-System/app/views/products/show.html.erb-->
<!--/workspaces/Inventory-Management-System/app/views/products/show.html.erb-->


<%= render @product %>

<div>
  <% if current_user.role == "admin" %>
    <%= button_to "Edit product", edit_product_path, method: :get %> 
    <p></p>
    <%= button_to "All Products", products_path, method: :get %>
    <p></p>
    <%= button_to "Delete Product", product_path, method: :delete %>
  <% elsif current_user.role == "manager" %>
    <%= button_to "Edit Product", edit_product_path, method: :get %> 
    <p></p>
    <%= button_to "All Products", products_path, method: :get %>
    <p></p>
    <%= button_to "Delete Product", product_path, method: :delete %>
  <% elsif current_user.role == "staff" %>
    <%= button_to "All Products", products_path, method: :get %>  <% end %>
</div>
