<!--/workspaces/Inventory-Management-System/app/views/suppliers/_supplier.html.erb-->
<div id="<%= dom_id supplier %>">

    <h4><%= link_to supplier.name, supplier %></h4>

  </p>

  <p>
    <strong>Contact info:</strong>
    <%= supplier.contact_info %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= supplier.description %>
  </p>

  <p>
    <strong>Standing:</strong>
    <%= supplier.standing.capitalize %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= supplier.address %>
  </p>

</div>
