<!--/workspaces/Inventory-Management-System/app/views/suppliers/_supplier.html.erb-->
<div id="<%= dom_id supplier %>">

    <h4><%= link_to supplier.name, supplier %></h4>

  </p>

  <p>
    <strong>Contact info:</strong>
    <%= mail_to supplier.contact_info %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= supplier.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= link_to supplier.address, "https://www.google.com/maps?q=#{URI.encode_www_form_component(supplier.address)}", target: "_blank"  %>
  </p>

</div>
