<!--/workspaces/Inventory-Management-System/app/views/reports/_form.html.erb-->
<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :report_type, style: "display: block" %>
    <%= form.text_field :report_type %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <%= form.hidden_field :company_id, value: current_user.company_id %>
  <%= form.hidden_field :branch_id, value: current_user.branch_id %>

  <div>
    <%= form.label :data_criteria, style: "display: block" %>
    <%= form.text_field :data_criteria %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
