<!--/workspaces/Inventory-Management-System/app/views/layouts/application.html.erb-->
<!DOCTYPE html>
<html>
  <head>
    <title>Invy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "application" %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'sidebar-toggle' %>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <link href="https://fonts.cdnfonts.com/css/flexure" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/philosopher" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  </head>

  <body id="page-top">
    <!-- Add this script to your HTML file -->
    <script>
      $(document).ready(function() {
        $("#sidebarToggle").click(function() {
          $("body").toggleClass("fixed-sidebar");
        });
      });
    </script>
    <div class="white-box"></div>

    <!-- Page Wrapper -->
    <!-- application.html.erb -->
    <div id="wrapper" class="d-flex">
      <%= render 'layouts/sidebar' %>
      <div id="content-wrapper" class="d-flex flex-column" style="padding-bottom: 100px; padding-left: -92px;">
        <%= render 'layouts/topbar' %>
        <div class="container">
          <% if notice.present? %>
            <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
          <% end %>
          <% if alert.present? %>
            <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
