<!DOCTYPE html>
<html>
  <head>
    <title>Calvy's Invy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://fonts.cdnfonts.com/css/flexure" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/philosopher" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <!-- application.html.erb -->
    <div id="wrapper" class="d-flex">
      <%= render 'layouts/sidebar' %>
      <div id="content-wrapper" class="d-flex flex-column">
        <%= render 'layouts/topbar' %>
        <div class="container">
          <% if notice.present? %>
            <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
          <% end %>
          <% if alert.present? %>
            <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
